   html {
        scroll-behavior: smooth;
        }
        body { font-family: 'Cairo', sans-serif; background-color: #fcfcfc; }
        .navbar { z-index: 1000; }
        /* Slider Styling */
        .carousel-item { height: 550px; }
        .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.3); z-index: 1; }
        .carousel-caption { z-index: 2; bottom: 30%; }
        /* Stats & Cards */
        .stat-box { border-bottom: 4px solid #007bff; transition: 0.3s; border-radius: 10px; }
        .stat-box:hover { transform: translateY(-10px); }
        .doctor-card { transition: 0.3s; border-radius: 15px; overflow: hidden; }
        .doctor-card:hover { transform: translateY(-10px); }
        /* Swiper */
        .swiper { width: 100%; padding: 40px 0; }
        .btn-primary { background: #007bff; border: none; padding: 12px 30px; border-radius: 50px; }

        /* services  */
        .service-card {
        border: none;
        border-radius: 20px;
        transition: all 0.3s ease;
        background: #fff;
    }
    .service-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 30px rgba(0,0,0,0.1) !important;
    }
    .icon-shape {
        width: 70px;
        height: 70px;
        background: #e7f1ff;
        color: #007bff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px;
        font-size: 28px;
    }

       .whatsapp-btn {
        position: fixed;
        bottom: 20px;
        right: 20px; /* سيتغير لليسار تلقائياً في RTL */
        background-color: #25d366;
        color: white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        font-size: 35px;
        line-height: 60px;
        z-index: 1000;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    }
    .whatsapp-btn:hover { color: white; background-color: #128c7e; 
    }